html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  box-sizing: border-box;
  background-color: #f0eee8;
  line-height: 1.5;
  color: #512200;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  background-color: #dcd4cd;
  padding: 1rem;
  padding-top: .5rem;
  border-width: 2px;
  border-radius: 3px;
  border-color: #9a816d;
  border-style: solid;
}

.link-card:hover {
  background-color: #cabdb2;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
}

hr {
  border-style: solid;
  margin: 0 0 1rem;
  border-color: #9a816d;
}

.button {
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125rem;
  background-color: #785439;
  padding: .4em .75em .5em;
  color: #f0eee8;
  text-align: center;
  border-radius: 8px;
}

.card-button {
  text-align: center;
}

dd {
  display: inline-block;
  margin-left: 0;
  font-style: italic;
  float: right;
}

dt {
  display: inline-block;
  margin-top: 0;
}
